
.hero-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   font-family: var(--primary-font);
   background-image: 
   linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,.4)),
   url(../assets/todo.jpg);
   background-position: left;
   padding-bottom: 2rem;
   padding-top: 4rem
}
.hero-section-container h1{
    font-size: 3.8rem;
    font-weight: 800;
    color: var(--color-light-pink);
}
@media screen and (max-width: 40em) {
    .hero-section-container h1{
        font-size: 2.5rem;
    }
}

.hero-section-container h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-white);
}
@media screen and (max-width: 40em) {
    .hero-section-container h3{
        font-size: 1.5rem;
        padding-top: 1rem;
    }
}